@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-black text-text-300 antialiased min-h-screen;
}

@layer base {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply border-brand-300 focus:border-text-400 focus:ring-text-400;
  }
}

@layer components {
  .section-title {
    @apply text-3xl font-bold mb-8 text-text-400;
  }
}

html {
  scroll-behavior: smooth;
  @apply bg-black;
}
